.form-wrapper {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.form-wrapper .task-input {
  flex-basis: 100%;
  padding: 10px;
}

.form-wrapper .submit {
  padding: 10px;
}

.form-wrapper.light {
  border: 1px solid black;
}

.form-wrapper.dark {
  border: 1px solid white;
  color: white;
}