.screen.game-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  margin: 0 auto;
}

.screen.levels-screen .player {
  margin-bottom: 30px;
}

.screen.levels-screen .player input {
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #aaa;
}

.screen.levels-screen .levels {
  display: flex;
  width: 60vmin;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  margin: 0 auto;
}

.screen.levels-screen .levels .level {
  padding: 50px;
  box-sizing: border-box;
}

.screen.levels-screen .levels .level:hover {
  border: 3px solid gray;
}

.screen.score-screen .boards>:first-child {
  border-right: 2px solid gray;
}

.screen.score-screen .boards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;
}

.screen.score-screen .boards>div {
  padding: 0 30px;
  width: 50%;
}

.screen.score-screen .boards>div h2 {
  margin-top: 0;
}