.dashboard-wrapper {
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
  column-gap: 10px;
  display: flex;
  justify-content: space-evenly;
}

.dashboard-wrapper>div {
  display: flex;
  column-gap: 5px;
  border: 1px solid black;
  padding: 10px;
  width: 100%;
}

.dashboard-wrapper.light {
  background-color: rgb(255, 255, 255);
}

.dashboard-wrapper.dark {
  background-color: rgb(70, 70, 70);
  color: #fff;
}

.dashboard-wrapper.dark>div {
  border-color: #fff;
}