@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Elements */
.button {
  display: inline-block;
  padding: 10px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Mulish;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #FFF;
  background: #71B2ABFF;
  opacity: 1;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-sizing: border-box;
}

.button.outline {
  color: #71B2ABFF;
  background: #FFF;
  opacity: 1;
  border-radius: 2px;
  border: 2px #71B2ABFF solid;
  box-sizing: border-box;
}

.button:hover {
  color: #FFF;
  background: #50958EFF;
}

.button:active {
  color: #FFF;
  background: #45807BFF;
}

.button:disabled {
  opacity: 0.4;
}